/*===RESET===*/

/*===MENU===*/
/* Media Queries */
@media (max-width: 701px) {
  .menu {
    flex-direction: column;
    justify-content: center;

  }

  .menu-nav ul {
    margin: 40px;
    flex-wrap: nowrap;
  }

}

/*===INTRO===*/
/* Media Queries */
@media (max-width: 701px) {

  .intro {
    flex-direction: column;
    text-align: center;
    padding: 0px 15px;
  }
  
  .intro h1 {
    font-size: 50px;
    margin-bottom: 0;
  }

  .intro p {
    margin: 30px auto;
  }

  .intro img {
    display: flex;
    margin-top: 20px;
    width: 500px;
  }

}
/*===INFO===*/

/*===FEATURE===*/

/*===ABOUT===*/

/*===FOOTER===*/

/* Info */
/*===MEDIA QUERIES===*/
@media (max-width: 900px) {
  .info {
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    top: 130px;
     
  }

  .info h3 {
    margin: 0px;
  }

  .info img {
    margin: 30px 0px;
  }
}
