.menu-bg {
  background: linear-gradient(36.1deg, #DBE7FA 0%, #F2F6FD 100%);
}

.menu {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @include d(s) {
    justify-content: center;
  }
}

.menu img {
  width: 50px;
  @include d(s) {
    margin-bottom: 0px;
  }
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  @include d(s) {
    li:last-child {
      display: none;
    }
  }
}

.menu-nav a {
  font-size: 16px;
  line-height: 19px;
  color: $body-color;
  padding: 0px 32px;
  transition: 150ms;
}

.menu-nav a:hover {
  color: $secondary-color;
}

.btn-menu a {
  padding: 20px 50px;
  background: linear-gradient(201.04deg, #FFB88A 0%, #F08899 100%);
  border-radius: 30px;
  color: $neutral-color;
  font-weight: 600;
}